@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 100% 80%;
    --foreground: 339 20% 20%;
    --primary: 308 56% 85%;
    --primary-foreground: 200 22% 22%;
    --secondary: 196 75% 88%;
    --secondary-foreground: 200 22% 22%;
    --accent: 211 86% 70%;
    --accent-foreground: 200 22% 22%;
    --destructive: 0 93% 73%;
    --destructive-foreground: 200 22% 22%;
    --muted: 200 100% 95%;
    --muted-foreground: 200 22% 22%;
    --card: 200 100% 95%;
    --card-foreground: 215 100% 60%;
    --popover: 0 0% 100%;
    --popover-foreground: 341 20% 22%;
    --border: 200 40% 80%;
    --input: 200 40% 56%;
    --ring: 200 40% 60%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}